	ul,
	li {
		margin: 0;
		padding: 0;
		font-size: 14px;
		list-style-type: none;
	}
	
	body {
		height: 100%;
		overflow: hidden;
		-moz-user-select: none;
		/*火狐*/
		-webkit-user-select: none;
		/*webkit浏览器*/
		-ms-user-select: none;
		/*IE10*/
		-khtml-user-select: none;
		/*早期浏览器*/
		user-select: none;
	}
	
	table th,
	td {
		text-align: center;
		border-collapse: collapse;
	}
	
	.footer {
		width: 100%;
		height: 40px;
		line-height: 40px;
		position: fixed;
		bottom: 0;
		border-top: 1px solid #aaaaaa;
		background-color: #ececec;
	}
	
	.header {
		width: 100%;
		height: 69px;
		top: 0;
		border-bottom: 1px solid #aaaaaa;
		background-color: #f5f5f5;
		position: fixed;
		z-index: 999
	}
	
	.titleTable tr {
		background-color: #DDDDDD;
	}
	
	.tdTip {
		padding: 2px 6px;
		border: 1px solid #DDDDDD;
		background: #FFFFFF;
	}
	.dataTable{
		width:0;
		table-layout: fixed;
	}
	.dataTable tr td {
		height: 20px;
		/*width: 100px;*/
		border: 1px solid #AAAAAA;
		/*min-width: 90px;
		max-width: 90px;*/
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.leftTable td {
		height: 20px;
		width: 63px;
		border: 1px solid #AAAAAA;
		/*border-left:1px solid #AAAAAA;
			border-bottom:1px solid #AAAAAA;*/
	}
	
	.leftTable tr {
		background: #DDDDDD;
	}
	
	.titleTable td {
		height: 20px;
		/*width: 100px;*/
		border: 1px solid #AAAAAA;
		/*min-width: 90px;
		max-width: 90px;*/
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.titleTable{
		width:0;
		table-layout: fixed;
	}
	
	.disbox {
		width: 66px;
		height: 32px;
		line-height: 32px;
		display: inline-block;
		float: left;
		left: 0;
		background: #FFFFFF;
		border-bottom: 1px solid #AAAAAA;
		text-align: center;
	}
	
	.tools {
		position: absolute;
		top: 0;
	}
	
	.fx {
		width: 100%;
		background-color: #ffffff;
		border-top: 1px solid #aaaaaa;
		height: 32px;
		line-height: 32px;
		margin-top: 36px;
	}
	
	.fx input {
		width: 70%;
		border: none;
		outline: none;
		display: inline-block;
		height: 28px;
		line-height: 28px;
		background: #f5f5f5;
		border-left: 1px solid #AAAAAA;
		background: url(../img/fx.png) no-repeat left center;
		padding-left: 36px;
		float: left;
	}
	
	.tipOrder {
		width: 61px;
		height: 32px;
		position: fixed;
		background-color: #DDDDDD;
		border: 1px solid #AAAAAA;
		;
		border-top: none;
		z-index: 3
	}
	
	.tdInput {
		height: 28px;
		width: 100px;
		outline: none;
		border: none;
		box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
	}
	
	.tdInputBox {
		margin-top: -25px;
	}
	
	.styleTool {
		margin-left: 20px;
	}
	
	.styleTool dl dd {
		float: left;
	}
	/*  下拉按钮 */
	/** 字体 **/
	
	.toolBox {
		width: auto;
		float: left;
		z-index: 11;
	}
	
	.toolBox>table {
		position: absolute;
	}
	
	#fontFamily,
	#fontSize {
		display: inline-block;
		height: 24px;
		line-height: 24px;
		vertical-align: middle;
		width: 84px;
		border-radius: 0;
		text-align: center;
		font-size: 14px;
		position: relative;
		background: url(../img/arrow-down.png) no-repeat;
		background-position: right center;
	}
	
	#fontFamily+ul+li,
	#fontSize+ul+li {
		background-color: #ffffff;
		position: relative;
	}
	
	#fontFamily+ul li a:hover {
		cursor: pointer;
	}
	
	#fontSize+ul li a:hover {
		cursor: pointer;
	}
	
	#fontFamily+ul li a,
	#fontSize+ul li a {
		display: inline-block;
		width: 84px;
		height: 24px;
		line-height: 24px;
		text-decoration: none;
		color: #646464;
		text-align: center;
		background-color: #ffffff;
	}
	
	
	.addSheet {
		width: 32px;
		height: 32px;
		background: url(../img/add.png);
		cursor: pointer;
		position: absolute;
		top: 50%;
		margin-top: -16px;
		left: 54px;
	}
	
	.addSheet:hover {
		border: 1px solid #AAAAAA;
	}
	
	.sheetqueue {
		width: 100%;
		margin-left: 100px;
	}
	
	.sheetqueuedl {
		position: absolute;
	}
	
	.sheetqueue dl dd {
		float: left;
	}
	
	.sheetdefault {
		/*width:80px;*/
		background-color: #FFFFFF;
		text-align: center;
		padding: 0px 6px;
	}
	
	.sheet {
		/*width:80px;*/
		text-align: center;
		cursor: pointer;
		max-width: 120px;
		min-width: 80px;
	}
	
	.contentdl dd {
		float: left;
	}
	
	.fontColor {
		/*width:100%;*/
	}
	
	
	
	.mergeBtn {
		width: 28px;
		height: 28px;
		display: inline-block;
		text-align: center;
		line-height: 28px;
		background: url(../img/mergeTd.png) no-repeat center;
	}
	
	.splitBtn {
		width: 28px;
		height: 28px;
		display: inline-block;
		text-align: center;
		line-height: 28px;
		background: url(../img/splitTd.png) no-repeat center;
	}
	
	
	.sheetfloat {
		float: right;
		width: 100px;
		height: 40px;
		line-height: 40px;
		position: fixed;
		right: 0;
		border-left: 1px solid #aaaaaa;
		background-color: #ececec;
	}
	
	.sheetfloat span {
		float: left;
		width: 32px;
		height: 32px;
		cursor: pointer;
	}
	
	.lsheet {
		background: url(../img/larrow.png) center no-repeat;
		position: absolute;
		top: 50%;
		margin-top: -16px;
		margin-left: 16px;
	}
	
	.rsheet {
		background: url(../img/rarrow.png) center no-repeat;
		position: absolute;
		top: 50%;
		margin-top: -16px;
		margin-left: 48px;
	}
	
	.sheetfloat span:hover {
		border: 1px solid #AAAAAA;
		cursor: pointer;
	}
	
	.footer_tool_box,
	.addBox {
		width: 100px;
		height: 40px;
		float: left;
		background-color: #ececec;
		border-right: 1px solid #aaaaaa;
		position: fixed;
		z-index: 2
	}
	
	td.ui-selecting {
		border: 1px double #4887C7 !important;
		background-color: rgba(51, 122, 183, 0.2) !important;
		background-color: rgb(214, 228, 241) \9 !important;
	}
	
	td.ui-selected {
		border: 1px double #4887C7 !important;
		background-color: rgba(51, 122, 183, 0.2) !important;
		background-color: rgb(214, 228, 241) \9 !important;
	}
	
	.stInput {
		text-align: center;
		border: none;
		padding: 0;
		margin: 0;
		outline: none;
	}
	
	.trBtn,
	.colBtn {
		float: right;
		display: inline;
		z-index: 999;
	}
	
	.trBtn span,
	.colBtn span {
		float: right;
		padding: 2px;
		cursor: pointer;
		font-size: 16px;
	}
	
	.addTr {
		color: #57A957;
	}
	
	.delTr {
		color: #CD0A0A;
	}
	
	.addCol {
		color: #57A957;
	}
	
	.delCol {
		color: #CD0A0A;
	}
	
	.lCoo {
		background: #A3DE83
	}
	
	.sline {
		width: 4px;
		background: #000000;
		float: right;
	}
	
	.lline {
		width: 1px;
		border-left: 1px dashed #000000;
		position: absolute;
		display: block;
		z-index: 100;
		top: 0;
	}