	ul,
	li {
		margin: 0;
		padding: 0;
		font-size: 14px;
		list-style-type: none;
	}
	
	body {
		height: 100%;
		overflow: hidden;
		-moz-user-select: none;
		/*火狐*/
		-webkit-user-select: none;
		/*webkit浏览器*/
		-ms-user-select: none;
		/*IE10*/
		-khtml-user-select: none;
		/*早期浏览器*/
		user-select: none;
		background:#ffffff;
	}
	
	table th, td {
		text-align: center;
		border-collapse: collapse;
	}
	
	.footer {
		width: 100%;
		height: 40px;
		line-height: 40px;
		position: fixed;
		bottom: 0;
		border-top: 1px solid #aaaaaa;
		background-color: #ececec;
	}
	
	.header {
		width: 100%;
		height: 69px;
		top: 0;
		border-bottom: 1px solid #aaaaaa;
		background-color: #f5f5f5;
		position: fixed;
		z-index: 999
	}
	
	.titleTable tr {
		background-color: #f5f5f5;
	}

	.dataTable{
		width:0;
		table-layout: fixed;
	}
	.dataTable tr td {
		height: 20px;
		/*width: 100px;*/
		border: 1px solid #dddddd;
		/*min-width: 90px;
		max-width: 90px;*/
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.leftTable td {
		height: 20px;
		width: 63px;
		border: 1px solid #dddddd;
		/*border-left:1px solid #AAAAAA;
			border-bottom:1px solid #AAAAAA;*/
	}
	
	.leftTable tr {
		background: #f5f5f5;
	}
	
	.titleTable td {
		height: 20px;
		/*width: 100px;*/
		border: 1px solid #dddddd;
		/*min-width: 90px;
		max-width: 90px;*/
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.titleTable{
		width:0;
		table-layout: fixed;
	}
	
	.disbox {
		width: 66px;
		height: 32px;
		line-height: 32px;
		display: inline-block;
		float: left;
		left: 0;
		background: #FFFFFF;
		border-bottom: 1px solid #AAAAAA;
		text-align: center;
	}
	
	.tools {
		position: absolute;
		top: 0;
	}
	
	.fx {
		width: 100%;
		background-color: #ffffff;
		border-top: 1px solid #aaaaaa;
		height: 32px;
		line-height: 32px;
		margin-top: 36px;
	}
	
	.fx input {
		width: 70%;
		border: none;
		outline: none;
		display: inline-block;
		height: 28px;
		line-height: 28px;
		background: #f5f5f5;
		border-left: 1px solid #AAAAAA;
		background: url(../images/img/fx.png) no-repeat left center;
		padding-left: 36px;
		float: left;
	}

	.fx_sum{
      /*background:url(../../images/img/sum.png) no-repeat left center;*/
	}
    .fx_avg{

	}
	.fx_count{

	}
    .fx_max{

	}
	.fx_min{

	}
	#express{
		display: inline-block;
		height: 24px;
		line-height: 24px;
		vertical-align: middle;
		width: 70px;
		border-radius: 0;
		text-align: center;
		font-size: 14px;
		position: relative;
		background: url(../images/img/arrow-down.png) no-repeat;
		background-position: right center;
		cursor: pointer;
	}
   #express+ul li a{
	   display: inline-block;
	   width: 70px;
	   height: 24px;
	   line-height: 24px;
	   text-decoration: none;
	   color: #646464;
	   text-align: center;
	   background-color: #ffffff;
	   cursor: pointer;
   }
	.tipOrder {
		width: 61px;
		height: 32px;
		position: fixed;
		background-color: #DDDDDD;
		border: 1px solid #AAAAAA;
		border-top: none;
		z-index: 3
	}
	
	.tdInput {
		height: 28px;
		width: 100px;
		outline: none;
		border: none;
		box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
	}
	
	.tdInputBox {
		margin-top: -25px;
	}
	
	.styleTool {
		margin-left: 20px;
	}
	
	.styleTool dl dd {
		float: left;
	}
	/*  下拉按钮 */
	/** 字体 **/
	
	.toolBox {
		/*width: auto;*/
		float: left;
		z-index: 11;
		padding:10px;
	}
	
	.toolBox>table {
		position: absolute;
	}
	
	#fontFamily,
	#fontSize {
		display: inline-block;
		height: 24px;
		line-height: 24px;
		vertical-align: middle;
		width: 84px;
		border-radius: 0;
		text-align: center;
		font-size: 14px;
		position: relative;
		background: url(../images/img/arrow-down.png) no-repeat;
		background-position: right center;
		cursor: pointer;
	}
	
	#fontFamily+ul+li,
	#fontSize+ul+li {
		background-color: #ffffff;
		position: relative;
	}
	
	#fontFamily+ul li a:hover {
		cursor: pointer;
	}
	
	#fontSize+ul li a:hover {
		cursor: pointer;
	}
	
	#fontFamily+ul li a,
	#fontSize+ul li a {
		display: inline-block;
		width: 84px;
		height: 24px;
		line-height: 24px;
		text-decoration: none;
		color: #646464;
		text-align: center;
		background-color: #ffffff;
	}
	
	
	.addSheet {
		width: 32px;
		height: 32px;
		background: url(../images/img/add.png);
		cursor: pointer;
		position: absolute;
		top: 50%;
		margin-top: -16px;
		left: 54px;
	}
	
	.addSheet:hover {
		border: 1px solid #AAAAAA;
	}
	
	.sheetqueue {
		width: 100%;
		margin-left: 100px;
	}
	
	.sheetqueuedl {
		position: absolute;
	}
	
	.sheetqueue dl dd {
		float: left;
	}
	
	.sheetdefault {
		/*width:80px;*/
		background-color: #FFFFFF;
		text-align: center;
		padding: 0px 6px;
	}
	
	.sheet {
		/*width:80px;*/
		text-align: center;
		cursor: pointer;
		max-width: 120px;
		min-width: 80px;
	}
	
	.contentdl dd {
		float: left;
	}
	
	.fontColor {
		table-layout:fixed;
		width:100%;
	}
	
	
	
	.mergeBtn {
		width: 28px;
		height: 28px;
		display: inline-block;
		text-align: center;
		line-height: 28px;
		background: url(../images/img/mergeTd.png) no-repeat center;
	}
	
	.splitBtn {
		width: 28px;
		height: 28px;
		display: inline-block;
		text-align: center;
		line-height: 28px;
		background: url(../images/img/splitTd.png) no-repeat center;
	}
	
	
	.sheetfloat {
		float: right;
		width: 100px;
		height: 40px;
		line-height: 40px;
		position: fixed;
		right: 0;
		border-left: 1px solid #aaaaaa;
		background-color: #ececec;
	}
	
	.sheetfloat span {
		float: left;
		width: 32px;
		height: 32px;
		cursor: pointer;
	}
	
	.lsheet {
		background: url(../images/img/larrow.png) center no-repeat;
		position: absolute;
		top: 50%;
		margin-top: -16px;
		margin-left: 16px;
	}
	
	.rsheet {
		background: url(../images/img/rarrow.png) center no-repeat;
		position: absolute;
		top: 50%;
		margin-top: -16px;
		margin-left: 48px;
	}
	
	.sheetfloat span:hover {
		border: 1px solid #AAAAAA;
		cursor: pointer;
	}
	
	.footer_tool_box,
	.addBox {
		width: 100px;
		height: 40px;
		float: left;
		background-color: #ececec;
		border-right: 1px solid #aaaaaa;
		position: fixed;
		z-index: 2
	}
	
	td.ui-selecting {
		/*border: 1px double #4887C7 !important;
		background-color: rgba(51, 122, 183, 0.2) !important;
		background-color: rgb(214, 228, 241) \9 !important;*/
	}
	
	td.ui-selected {
		/*border: 1px double #4887C7 !important;
		background-color: rgba(51, 122, 183, 0.2) !important;
		background-color: rgb(214, 228, 241) \9 !important;*/
	}
	
	.stInput {
		text-align: center;
		border: none;
		padding: 0;
		margin: 0;
		outline: none;
	}
	
	.trBtn,
	.colBtn {
		float: right;
		display: inline;
		z-index: 999;
	}
	
	.trBtn span,
	.colBtn span {
		float: right;
		padding: 2px;
		cursor: pointer;
		font-size: 16px;
	}
	
	.addTr {
		color: #57A957;
	}
	
	.delTr {
		color: #CD0A0A;
	}
	
	.addCol {
		color: #57A957;
	}
	
	/*.delCol {*/
		/*color: #CD0A0A;*/
	/*}*/
	
	.lCoo {
		background: #A3DE83;
		/*border-color:#7ab858 !important;*/
	}
	
	.sline {
		width: 4px;
		background: #000000;
		float: right;
	}
	
	.lline {
		width: 1px;
		border-left: 1px dashed #000000;
		position: absolute;
		display: block;
		z-index: 100;
		top: 0;
	}
	.rline{
		height: 1px;
		border-left: 1px dashed #000000;
		position: absolute;
		display: block;
		z-index: 100;
		top: 0;
	}
	.editRowCol{
		 /*width:28px;*/
		height:28px;
		line-height: 28px;
		font-size:14px;
		padding: 0px 10px;
		cursor: pointer;
		display: inline-block;
		background:#cdcdcd;
		margin:0px 6px;
	}
	.leftbar{
		width:400px;
		height:400px;
		position:absolute;
		left:-400px;
		top:0px;
		background:white;
		z-index: 444;
		border:1px solid #dddddd;
	}
	.ltoggle{
		width:16px;
		height:100px;
		background:#ffffff;
		display: inline-block;
		float:right;
		margin-right:-17px;
		border:1px solid #dddddd;
		border-left:none;
		margin-top:100px;
	}
	.tl{
		background:#ffffff url(../images/img/toggle-l.png) no-repeat center;
	}
	.tr{
		background:#ffffff url(../images/img/toggle-r.png) no-repeat center;
	}
   .insertRow{
	   background: url(../images/img/inR.png) no-repeat center;
   }
   .insertCol{
	   background: url(../images/img/inC.png) no-repeat center;
   }
   .delCol{
	   background: url(../images/img/deC.png) no-repeat center;
   }
   .delRow{
	   background: url(../images/img/deR.png) no-repeat center;
   }
   .charts{
	   width: 28px;
	   height: 28px;
	   display: inline-block;
	   text-align: center;
	   line-height: 28px;
	   background: url(../images/img/charts.png) no-repeat center;
   }
	.dataSource{
		width: 28px;
		height: 28px;
		display: inline-block;
		text-align: center;
		line-height: 28px;
		background: url(../images/img/dataSource.png) no-repeat center;
	}
   .dataSet{
	   width: 28px;
	   height: 28px;
	   display: inline-block;
	   text-align: center;
	   line-height: 28px;
	   background: url(../images/img/dataSet.png) no-repeat center;
   }
   .dataSearch{
	   width: 28px;
	   height: 28px;
	   display: inline-block;
	   text-align: center;
	   line-height: 28px;
	   background: url(../images/img/dataSearch.png) no-repeat center;
   }
   .wBorder{
   	position: absolute;
   	z-index:13;
   }
   .corner{
   	width:5px;
   	height:5px;
   	background:rgb(82, 146, 247);
   	position: absolute;
   	z-index: 999;
   }
    .scorner{
   	width:5px;
   	height:5px;
   	background:rgb(82, 146, 247);
   	position: absolute;
   }
   .wtBorder{
   	position: absolute;
   }
   .wrBorder{
   	position: absolute;
   	z-index:12;
   }
   .greyBlock{
   	position: fixed;
	background: #f5f5f5;
	z-index: 101;
	top:0;
	left:0;		
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	margin-top: 70px;

   }
   .yOrder{
   	position:fixed;
	z-index: 99;
	background: #f5f5f5;
	overflow:hidden;
	left:0;
   }
   .xOrder{
   	position: fixed;
	z-index: 100;
	background: #f5f5f5;
	overflow: hidden;
	margin-left: 4px;
	margin-top: 70px;
	top: 0
   }
   .picked{
	   background:#DFF4F3
   }
